@import "tailwindcss";
@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #a18cd1, #fbc2eb, #fad0c4, #ff9a9e);
  background-size: 300% 300%;
  animation: gradient-x 8s ease infinite;
}
.section-hover-effect {
  @apply transform transition duration-500 hover:scale-95 hover:-translate-x-2 hover:-translate-y-2 hover:shadow-xl;
}
.section-hover-effect1 {
  @apply transform transition duration-300 hover:scale-102 hover:-translate-x-0 hover:-translate-y-0 hover:shadow-xl;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}

.animate-fade-in-down {
  animation: fadeInDown 0.6s ease-out forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.4s ease-out;
}

.border-glow:hover {
  box-shadow: 0 0 10px 2px rgba(59, 130, 246, 0.6); /* Tailwind blue-500 glow */
  border: 2px solid rgba(59, 130, 246, 0.8);
  transition: box-shadow 0.3s ease, border 0.4s ease;
}


